*Exercise 1: Import numpy*

In [ ]:
# Your code

*Exercise 2: How to create a 1D array (values 0 - 9)?*

In [ ]:
# Your code

*Exercise 3: Replace all odd numbers from array with -100*

In [ ]:
# Your code
# # input: arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

*Exercise 4: Convert a 1D array to a 2D array with 2 rows*

In [ ]:
# Your code
# input: np.arange(10)
# output array([[0, 1, 2, 3, 4],
#                [5, 6, 7, 8, 9]])

*Exercise 5: multiply every element of the array in the previous exercise by 5 and add 1*

In [ ]:
# Your code

*Exercise 6: perform element-wise multiplication of the output arrays in exercises 4 and 5*

In [ ]:
# Your code

*Exercise 7: create a 4x5 array of random numbers with mean = 5 and variance = 2*

In [ ]:
# Your code

*Exercise 8: Get all values smaller than 5 from the array and assign it to a variable*

In [ ]:
# Your code

*Exercise 9: Get the sum of all the values in the resulting array*

In [ ]:
# Your code

*Exercise 10: Get the mean of all the values in the resulting array*

In [ ]:
# Your code